/*
 * @Author: 刁琪
 * @Date: 2019-09-10 17:23:58
 * @LastEditors: 刁琪
 * @LastEditTime: 2020-07-27 17:08:27
 */ 
.qiandao-page{
  .top-info{
    padding: 20px;
    font-size: 18px;
    .week{
      margin-left: 10px;
    }
  }
  .form-area{

  }
  .sign-area{
    margin-top: 50px;
    padding: 20px;
  }
}